
  <div class="pagination">
    <%= will_paginate @places %>
  </div>  
      <% @places.each do |place| %>
        <div class="booyah-box col-10 offset-1">
          <h1><%= link_to place.name, place_path(place) %></h1><br />
          <i><%= place.address %></i><br /><br />
          <p><%= place.description %></p><br />

          <% if place.user.present? %>
            <small><%= place.user.email %></small>
          <% end %>

          <br /><br class="clear"/>

          <% if place.photos.present? %>
            <div class="row">
              <div class="col">
                <%= image_tag place.photos.first.Picture, class:"photo-preview" %>
              </div>
            </div>
          <% end %>  

          <% if place.comments.present? %>
            <div class="col-12 col-sm-6 break-word">
              <blockquote>
                <% if place.comments.last.humanized_rating.present? %> 
                <b><%= place.comments.last.humanized_rating %></b>
                <% end %>    
                <%= place.comments.last.message %>
                <br />
                <small><%= place.comments.last.user.email %></small>
              </blockquote>
            </div>
          <% end %>        
        </div>     
      <% end %>  
  <div class="pagination">
    <%= will_paginate @places %>
  </div>